.btn {
  box-shadow: none;
}

input.form-control {
  box-shadow: none !important;
}
input.form-control:focus {
  border: 1px solid black;
}

select.form-select {
  box-shadow: none !important;
}
select.form-select:focus {
  border: 1px solid black;
}

table.table_sea thead {
  background-color: rgb(84, 184, 171);
}
td {
  border: 1px solid black;
}
table.table_sea thead > tr > th {
  color: white;
}

body#login {
  margin: 0;
  padding: 0;
}
body#login {
  background-color: rgb(211, 214, 222);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vw;
}

body#login .login-form-container {
  border: 1px solid black;
  width: 500px;
  padding: 20px 50px 50px 50px;
}
body#login .login-form-container input {
  border-radius: 0px !important;
  border: 1px solid black;
  border-right: 0px;
}
body#login .login-form-container i {
  color: black;
}
body#login .login-form-container .icon {
  padding: 10px;
  min-width: 50px;
  text-align: center;
  border: 1px solid black;
  border-left: 0px;
}

body#login .login-form-container a {
  text-decoration: none;
  color: rgb(84, 184, 171);
}

/* input date customization */

input[type="date"] {
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}

input[type="date"]:before {
  color: transparent;
  background: none;
  display: block;
  font-family: "FontAwesome";
  content: "\f073";
  width: 15px;
  height: 20px;
  position: absolute;
  top: 20%;
  right: 6px;
  color: rgb(84, 184, 171);
}

.fa-calendar {
  color: rgb(84, 184, 171);
}

body#personal_detail_form_body div.row {
  margin-bottom: 30px;
}
body#personal_detail_form_body select:focus {
  box-shadow: none !important;
}

#certificate_name,
#certificate_name_update {
  border: 1px rgb(21, 104, 212) solid;
  width: 400px;
}

.read_form_container,
.edit_form_container {
  border: 1px solid black;
}
.certificate-table thead tr td {
  border-bottom-color: rgb(84, 184, 171) !important;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

#browser:hover input::-webkit-calendar-picker-indicator {
  display: none;
}
.error_text {
  color: red;
}

.table_service tr th,
.personal_info_table tr th,
.table_service tbody tr td,
.personal_info_table tbody tr td {
  border: none !important;
}
.table_service thead,
.personal_info_table thead {
  background-color: rgb(84, 184, 171);
}
.personal_info_container {
  border-top: 3px solid rgb(84, 184, 171);
}
.search_btn:hover {
  background-color: rgb(84, 184, 171) !important;
  border-color: rgb(84, 184, 171);
}
.search_btn {
  color: rgb(84, 184, 171);
  border-color: rgb(84, 184, 171) !important;
}
tr.mandt_cert_list_tr td input[type="text"],
tr.mandt_cert_list_tr td input[type="number"],
tr.mandt_cert_list_tr td span,
tr.service_list_tr td input[type="text"],
tr.rowitem td input[type="text"] {
  display: none;
}
tr.editMode td input[type="number"],
tr.editMode td input[type="text"],
tr.editMode td span,
tr.editMode td input[type="text"],
tr.editMode td input[type="text"] {
  display: block;
}

tr.editMode td label,
tr.editMode td label {
  display: none;
}
